<div class="conteiner">
  <div class="limitWidth" *ngIf="!reset">
    <span *ngIf="err" class="white-text">can't reset password: {{err}}</span>
    <div class="md-form">
      <input type="password" minlength="4" #darkFormPassword class="form-control white-text" required mdbInput
        [(ngModel)]="password" placeholder="enter new password">
      <label for="darkFormPassword" class="labelColor">password:</label>
    </div>
    <div class="md-form">
      <input type="password" minlength="4" #darkFormPasswordVerification class="form-control white-text" required
        mdbInput [(ngModel)]="passwordVerification" placeholder="enter password agian">
      <label for="darkFormPasswordVerification" class="labelColor">password verification</label>
    </div>
    <span *ngIf="password && passwordVerification && !(password===passwordVerification)" style="color: red;">passwords
      don't match<br /></span>
    <button (click)="resetPassword()"
      [disabled]="!password || !passwordVerification || !(password===passwordVerification)" type="button" mdbBtn
      color="success" block="true" rounded="true" class="z-depth-1 waves-light" mdbWavesEffect>Send Reset Email</button>
  </div>
  <div class="limitWidth white-text" *ngIf="reset">
    user password has been changed
  </div>
</div>