.conteiner{
    text-align: center;
    color: white;
}

input{
    background-color: rgb(250, 255, 189);
    max-width: 300 px;
}

.limitWidth{
    min-width: 100px;
    width: 30%;
    display: inline-block;
}

.labelColor.active{
    color: wheat;
}