<div class="md-form">
  <div class="header">General test details</div>
  <div>
    <div class="row">Field of study: <span>{{category.name}}</span></div>
    <div class="row">
      <span>Language: </span>
      <select class="browser-default" #languageSelect>
        <option selected value="english">English</option>
        <option value="hebrew">Hebrew</option>
      </select>
    </div>
    <div class="row">
      <span>test name</span>
      <input mdbInput type="text" #testNameInput class="form-control">
    </div>
  </div>
</div>