<div id="main">
  <h3>
    Report By Respondent Name
  </h3>
  <br><br>

  <h5>Find a Respondent </h5>
  <p>
    To find a respondent, start typing a name below.
    the select the respondent from the list tath will apear.<br>
    TIP: To show all respondents press the spacebar
  </p>
  <br>


  <!-- Search and Table -->
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable class="z-depth-1" *ngIf="searchText != ''">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements; let i = index">
        <th scope="row">{{i}}</th>
        <td class="yellow-text">{{el.FirstName}} {{el.LastName}}</td>
        <td>{{el.Email}}</td>
        <td>{{el.lastActivity | date}}</td>
        <td> <button type="button" mdbBtn color="info" mdbWavesEffect
           (click)="showActivityExams(el)">
           show Report</button> </td>
      </tr>
    </tbody>
  </table>



</div>


<activity-reports-by-respondent
 [student]="selectedStudent"
 *ngIf="showActivity"
 >
</activity-reports-by-respondent>
