<div id="main">

  <h3>
    Activity Reports For: <span style="color:greenyellow;"> {{student.FirstName}} {{student.LastName}}</span>
  </h3>
  <p>Click a test to show it's result
  <span style="float:right;"> Average Grades: 
    <strong style="color:greenyellow;"> {{calculateAverage()}}</strong></span>
</p>
  <table mdbTable hover="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements; let i = index;"
         (click)="showResultForThisTest(el) && basicModal.show()">
        <th scope="row">{{el.Id}}</th>
        <th scope="row">{{el.ExamId}}</th>
        <td>{{el.Name}}</td>
        <td>{{el.Grade}}</td>
        <td>{{el.HandedOn}}</td>
      </tr>
    </tbody>
  </table>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h3> Test Result for <span style="color:orangered;">{{modalElement.Name}}</span></h3>
        
        <!-- <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4> -->
      </div><br>
      <h4> Respondent Name: <span style="color:orangered;"> {{student.FirstName}} {{student.LastName}}</span></h4>
      <div class="modal-body">
        <p><span>Instanse: </span> {{modalElement.Id}}</p>
        <p><span>Id: </span> {{modalElement.ExamId}}</p>
        <p><span>Test Name: </span> {{modalElement.Name}}</p>
        <p><span>Grade: </span> {{modalElement.Grade}}</p>
        <p><span>Handed On: </span> {{modalElement.HandedOn}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>






</div>