<div class="container">
  <div class="row">
    <div class="col-md-3"><br>
        <div class="btn-group-vertical fullwidth" role="group" aria-label="Vertical button group">
            <div class="btn-group fullwidth" mdbDropdown>
                 <button mdbDropdownToggle type="button" mdbBtn color="indigo" class="dropdown-toggle waves-light fullwidth"
                for="studyList" id="studyList" mdbWavesEffect>
                    {{selectedTitle}}
                </button>  
        
                 <div class="dropdown-menu dropdown-primary" id="studyList">
                    <a class="dropdown-item" *ngFor="let item of studyList" (click)="setCategory(item)">{{item.Name}} </a>
                    
                </div>
            </div><br>

            <button mdbBtn type="button" color="amber" class="waves-light fullwidth" mdbWavesEffect
            [routerLink]="[ 'ManageQuestions']" [disabled]="isEmptyCategory" >Manage Questions</button>
            <button mdbBtn type="button" color="amber" class="waves-light fullwidth" mdbWavesEffect
            [routerLink]="[ 'exams']" [disabled]="isEmptyCategory" >Manage Tests</button>
            <button mdbBtn type="button" color="amber" class="waves-light fullwidth" mdbWavesEffect
            [routerLink]="[ 'Reports']" [disabled]="isEmptyCategory" >Reports</button>
        </div>
    </div>
     <div class="col-md-9">
        <router-outlet></router-outlet>
     </div>  
  </div>
</div>
